<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="monkeyhubapp.android">
	<uses-sdk android:minSdkVersion="15" />
  <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
  <uses-permission android:name="android.permission.WAKE_LOCK" />
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="YourPackageNameHere.permission.C2D_MESSAGE" />
	<application android:label="MonkeyHubApp.Android"></application>
</manifest>